/* Google Fonts MUST be first */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;800&family=Pacifico&display=swap");

/* Tailwind v4 import */
@import "tailwindcss";

/* ---------- GLOBAL THEME ---------- */
:root {
  color-scheme: dark;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  background-color: #050505;
  color: #eeeeee;
  -webkit-font-smoothing: antialiased;
}

/* ---------- PREMIUM RED ACCENTS ---------- */
::selection {
  background-color: #7f1d1d;
  color: #ffffff;
}

input {
  caret-color: #ff3131 !important;
  color: #ffffff !important;
}

/* ---------- SCROLLBAR ---------- */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #450a0a;
  border-radius: 10px;
}

/* ---------- DISABLED ---------- */
button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
/* ---------- HIDE SCROLLBAR (for mobile filter pills) ---------- */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

