@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;800&family=Pacifico&display=swap');

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: #050505;
  color: #eeeeee;
  -webkit-font-smoothing: antialiased;
}

/* Custom selection and scrollbar */
::selection {
  background-color: #7f1d1d;
  color: #ffffff;
}

input {
  caret-color: #ff3131 !important;
  color: #ffffff !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #450a0a;
  border-radius: 10px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}